.github

# Composer
/vendor
composer.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
*~

# Node
node_modules/

# Logs
*.log

# Environment variables
.env

# End of public release ignore